{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}


{% block panorama %}
    {% include 'inc/panorama.html.twig' %}
{% endblock %}


{% block main %}
<div class="divLienPresta col-xs-offset-3 col-xs-6">
    {% for prestation in prestations %}
        {% if prestation.menuDeroulant == false and prestation.id != 16 %}
            <div class="conteneurLienPresta{{ prestation.nom}} col-xs-4">
                    <a class="lienPresta" href="{{ path('affichage_prestation',{'id':prestation.id,'prestation':prestation.nom}) }}">
                        {{ prestation.nom }}
                    </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

