{% extends 'base.html.twig' %}

{% block title %}Packs disponibles | {{ parent() }}{% endblock %}


{% block panorama %}
{% endblock %}


{% block main %}
    <div class="divPackPresta col-xs-offset-1 col-xs-10">
        <img class="col-xs-12" src="image/packPrestation.jpeg">
    </div>
{% endblock %}

{% block footer %}{% endblock %}